.container {
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.25rem;

	&:hover {
		.icon,
		.large {
			color: var(--secondary-color);
		}
		.icon.float,
		.large.float {
			transform: translateY(-20%);
		}
		.icon.large {
			background-color: var(--secondary-color);
			color: var(--primary-color);
		}
		.text {
			opacity: 1;
		}
	}
}

.icon {
	color: var(--light-color);
	transition: all 0.4s ease;
	font-size: 1.25rem;
}

.icon.medium {
	font-size: 2rem;
}

.icon.large {
	font-size: 3rem;
	padding: 0.5rem;
	background-color: var(--light-color);
	border-radius: 99px;
	color: var(--primary-color);
}

.icon.active {
	color: var(--secondary-color);
}

.icon.large.active {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.icon.large.active.float {
	transform: translateY(-20%);
}

.text {
	position: absolute;
	top: 100%;
	font-size: 0.65rem;
	font-weight: 500;
	color: var(--secondary-color);
	transition: all 0.4s ease;
	opacity: 0;
}

.text.medium {
	font-size: 0.75rem;
}

.text.large {
	font-size: 1rem;
}

.text.active {
	opacity: 1;
}

.grounded {
	cursor: default;
}
