@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap");

:root {
	--primary-color: #2a3d45;
	--secondary-color: #c4d6b0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: "Roboto Serif", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: var(--primary-color);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

main {
	display: flex;
}

.sections {
	position: absolute;
	top: 0;
	left: 6rem;
	width: calc(100% - 6rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10rem;

	> div {
		width: 50%;
		display: flex;
		justify-content: center;
	}

	> div:first-child {
		width: 100%;
	}
}

.header {
	display: flex;
	column-gap: 2rem;
	align-items: center;
	justify-content: center;
	align-self: flex-start;
	margin-top: 1rem;

	h1 {
		color: var(--secondary-color);
	}
}

.custom-alert {
	position: fixed;
	bottom: 1rem;
	left: 45%;
	background-color: green;
	border-radius: 99px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	z-index: 4;
	overflow: hidden;
	text-align: center;
	color: white;
}
