@import "/styles/breakpoints";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	row-gap: 2rem;

	@include md {
		row-gap: 4rem;
	}
}

.content {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	color: var(--light-color);
	line-height: 2;
	text-align: justify;
}
